/* Basic styles for the label and the hidden checkbox */
.enlightenment-checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #6DCBFE;
    user-select: none;
}

.enlightenment-checkbox-hidden {
    display: none;
}

/* Custom checkbox appearance */
.enlightenment-checkbox {
    width: 14px;
    height: 14px;
    border-top: #000000 1px solid;
    border-bottom: #333333 1px solid;
    border-left: #000000 1px solid;
    border-right: #333333 1px solid;
    border-radius: 0;
    margin-right: 10px;
    position: relative;
    background: linear-gradient(to bottom, #111, #222 50%, #333);
}

/* Update the custom checkbox appearance when checked */
.enlightenment-checkbox-hidden:checked + .enlightenment-checkbox {
    background-image: linear-gradient(180deg, #5E5D5D, #505050, #424343);
    border-top: #888888 1px solid;
    border-bottom: #333333 1px solid;
    border-left: #666666 1px solid;
    border-right: #444444 1px solid;
}
