html, body {
    background-color: #232323;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    font-size: 14px;
}

header {
    width: 100%;
    height: 36px;
    background: rgb(10, 11, 11);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #777777;
    text-align: center;
    font-weight: bold;
    align-items: center;
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    background-image: linear-gradient(180deg, #505050, #464646, #404040, #363636);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 36px;
    background-color: #232323;

    border-top-color: #777777;
    border-top-style: solid;
    border-top-width: 1px;

    background: rgb(10, 11, 11);
    background-image: linear-gradient(180deg, #505050, #464646, #404040, #363636);
}

.viewMode {
    /* No need for width; it'll take as much as it needs */
    display: flex; /* If you want its contents side by side */
    margin-right: 10px; /* Optional: to provide spacing between viewMode and the navigator */
}

#navigatorHistory, #btnNavigate {
    flex-shrink: 0; /* Don't let them shrink */
}


#navigator {
    position: relative;
    flex-grow: 1; /* Let it take the remaining space */
    display: flex; /* Use flex for its children */
    align-items: center; /* Vertically center its children */
    height: 24px;
}

#navigator, #navigatorHistory, .viewMode {
    margin-left: 10px;
}

#navigatorHistory img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#addressBarInput, #address-bar {
    position: absolute;
    top: 50%; /* Center the element vertically */
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

#addressBarInput {
    display: none; /* Initially hidden */
    width: 100%;
}

#address-bar {
    background-color: #23232355;
    height: 28px !important;
    margin-top: -2px;
    padding-left:2px;
    vertical-align: middle;
    height: 28px; /* Remove the !important directive */
    margin-top: 0; /* Reset this so it doesn't interfere with our centering */
}

#address-bar ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

#pathSegments {
    margin:0px !important;
}

header #btnNavigate {
    text-align: end !important;
}

#btnNavigate {
    margin: 0px 10px 2px 15px;
    height: 28px;
    width: 35px;
}



@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }

     .viewMode, button {
        flex-basis: auto; /* reset any flex-basis applied */
        margin-right: 10px; /* Add some spacing to the right */
    }

    #navigator, #btnNavigate {
        flex-basis: 100%; /* Make them take full width */
        margin-top: 10px; /* Add some space above */
    }

    #navigator {
        margin-left: 0; /* Reset margin to left align */
    }
    
    #btnNavigate {
        margin-left: auto; /* Push it to the right */
    }
}
