src/client/.vs/*
src/client/.idea/*
src/client/.editorconfig

src/server/.vs/*
src/server/.idea/*
src/server/.editorconfig

src/client/Lyrida.Infrastructure/obj/*
src/client/Lyrida.Infrastructure/bin/*
src/client/Lyrida.UI/obj/*
src/client/Lyrida.UI/bin/*
src/client/obj/*
src/client/bin/*
src/client/Lyrida.UI/wwwroot/lib/*
src/client/Lyrida.UI/wwwroot/bin/*

src/server/Lyrida.Api/obj/*
src/server/Lyrida.Api/bin/*
src/server/Lyrida.Application/obj/*
src/server/Lyrida.Application/bin/*
src/server/Lyrida.DataAccess/obj/*
src/server/Lyrida.DataAccess/bin/*
src/server/Lyrida.Domain/obj/*
src/server/Lyrida.Domain/bin/*
src/server/Lyrida.Infrastructure/obj/*
src/server/Lyrida.Infrastructure/bin/*
src/server/obj/*
src/server/bin/*
src/server/Lyrida.Api/appsettings.json

tests/Lyrida.Tests/obj/*
tests/Lyrida.Tests/bin/*
tests/GeneratedReports/*
build/credentials.txt
bin/*
.git/*
lyrida.key
lyrida.key.pub
