src/client/.vs/*
src/client/.idea/*
src/client/.editorconfig

src/server/.vs/*
src/server/.idea/*
src/server/.editorconfig

src/client/Lyrida.Infrastructure/obj/*
src/client/Lyrida.UI/obj/*
src/client/Lyrida.UI/wwwroot/lib/*

src/server/Lyrida.Api/appsettings.json
src/server/Lyrida.Api/obj/*
src/server/Lyrida.Application/obj/*
src/server/Lyrida.DataAccess/obj/*
src/server/Lyrida.Domain/obj/*
src/server/Lyrida.Infrastructure/obj/*

tests/Lyrida.Tests/obj/*
tests/Lyrida.Tests/bin/*
tests/GeneratedReports/*
bin/*
build/credentials.txt
.git/*
lyrida.key
lyrida.key.pub
